<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>697704910409-ftb7a5hu8kfmbs07bt9lblpkiq1hr9gc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697704910409-ftb7a5hu8kfmbs07bt9lblpkiq1hr9gc</string>
	<key>API_KEY</key>
	<string>AIzaSyAl3W8MGKexWIH-5bZKGTQMZiq8SOQ2ctw</string>
	<key>GCM_SENDER_ID</key>
	<string>697704910409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.namjunlee.FiveSenses</string>
	<key>PROJECT_ID</key>
	<string>gaam-30f40</string>
	<key>STORAGE_BUCKET</key>
	<string>gaam-30f40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697704910409:ios:b2e012f2cee957e66e7998</string>
</dict>
</plist>